<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="vTiger.ContactsTests.CreateContactTest"/>
      <class name="vTiger.ContactsTests.CreateContactWithOrganization"/>
      <class name="vTigerAppPractice.TestNGPractice"/>
      <class name="vTiger.OrganisationTests.CreateOrganization"/>
      <class name="vTigerAppPractice.AssertionsPractice"/>
      <class name="vTiger.OrganisationTests.CreateOrganisationWithIndustry"/>
      <class name="vTigerAppPractice.DataProviderPractise"/>
      <class name="vTiger.OrganisationTests.CreateMultipleOrgTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
